<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="mainTitle">WaterSaver Faucet Co. Machine Shop Database</title>
    @*<title id="reportTitle">WaterSaver Faucet Co. Machine Shop production Report.</title>*@
    @*@Styles.Render("~/Content/css")*@
    <link href="@Styles.Url("~/Content/css")" rel="stylesheet" type="text/css" media="screen" />
    @*<link href="@Styles.Url("~/Content/Site.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Styles.Url("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Styles.Url("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen" />*@

    <link href="@Styles.Url("~/Content/Site_print.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Styles.Url("~/Content/bootstrapPrint.css")" rel="stylesheet" type="text/css" media="print" />
    @*<link href="@Styles.Url("~/Content/bootstrap.minPrint.css")" rel="stylesheet" type="text/css" media="print" />*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0092D0">*@
    <div class="navbar navbar-inverse navbar-fixed-top" id="navigationBar" style="background-color: #002839">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><img src="~/Content/Images/WSF_logo.png" height="36px" width="155px" style="margin:5px" /></li>
                    @*<li>@Html.ActionLink("Main Table", "Index", "MachineShop")</li>*@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Testing Table", "Index", "Movies", null, new { @class = "navbar-brand" })</li>*@
                    @*Html.ActionLink = return link A anchor element.
                        Structure : ("Link Text", controller action name class, controller name,  route values = null, html attributes)*@
                </ul>
                @*LOGIN AND REGISTER BUTTONS*@
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="mainFooter">
            <p>&copy; @DateTime.Now.Year - Machine Shop Database | WaterSaver Faucet Co.</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
