@model MvcMovie.Models.MachineShopTable

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MachineShopTable</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemNo)
                @Html.ValidationMessageFor(model => model.ItemNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Operation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Operation)
                @Html.ValidationMessageFor(model => model.Operation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Operator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Operator)
                @Html.ValidationMessageFor(model => model.Operator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qty)
                @Html.ValidationMessageFor(model => model.Qty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours)
                @Html.ValidationMessageFor(model => model.Hours)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualRate)
                @Html.ValidationMessageFor(model => model.ActualRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StandardRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandardRate)
                @Html.ValidationMessageFor(model => model.StandardRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Percent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Percent)
                @Html.ValidationMessageFor(model => model.Percent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Setup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Setup)
                @Html.ValidationMessageFor(model => model.Setup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cleaning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cleaning)
                @Html.ValidationMessageFor(model => model.Cleaning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Down, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Down)
                @Html.ValidationMessageFor(model => model.Down)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Other, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Other)
                @Html.ValidationMessageFor(model => model.Other)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NonconfParts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NonconfParts)
                @Html.ValidationMessageFor(model => model.NonconfParts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
