@model MvcMovie.Models.MachineShopTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MachineShopTable</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operation)
        </dt>        

        <dd>
            @Html.DisplayFor(model => model.Operation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualRate)
            @*<div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.ActualRate)"
                     aria-valuemin="0" aria-valuemax="@Html.DisplayFor(model => model.StandardRate)" style="width: @Html.DisplayFor(model => model.ActualRate)%">
                    @Html.DisplayFor(model => model.ActualRate) of @Html.DisplayFor(model => model.StandardRate)
                </div>
            </div>*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percent)

            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width: @Html.DisplayFor(model => model.Percent)%">
                    @Html.DisplayFor(model => model.Percent)%
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cleaning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cleaning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Down)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Down)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonconfParts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonconfParts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;"><span class="glyphicon glyphicon-arrow-left"></span>   Go back</button>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    <a href="@Url.Action("Edit", "MachineShop", new { id = Model.ID })" class="btn btn-primary" ><span class="glyphicon glyphicon-wrench"></span> Edit</a>
    
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
