@model IEnumerable<MvcMovie.Models.MachineShopTable>


@{
    ViewBag.Title = "Index";
}

<h3>@ViewData["Department"]</h3>
<h4>Work Center: @ViewData["WorkCenter"]</h4>

@*<h2>Index</h2>*@

<p> 
    @Html.ActionLink("Create New",
                     "Create", new { Department =@ViewData["Department"], WorkCenter = @ViewData["WorkCenter"] },
                                             htmlAttributes: new { @class = "btn btn-primary" }    
    )

    <a href="@Url.Action("Create", "MachineShop", new { Department = @ViewData["Department"], WorkCenter = @ViewData["WorkCenter"] })" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create New</a>
</p>

<div class="row">
    @*<div class=".col-md-6" style="background-color: #eeeeee; border-radius: 6px; ">*@

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            <a href="#currently_displayed" aria-controls="home" role="tab" data-toggle="tab">Currently Displayed</a>
            </li>
            <li role="presentation">
                <a href="#filtering_tool" aria-controls="profile" role="tab" data-toggle="tab">Filtering Tools</a>
            </li>            
        </ul>

        <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currently_displayed">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #e2f1f9; border-radius: 6px; ">
                        <table cellpadding="10">
                            @*<h3>Currently Displayed</h3>*@
                            <tr>
                                <td>Department: </td>

                                <td>@ViewData["Department"]</td>

                            </tr>
                            <tr>
                                <td>Work Center: </td>
                                <td>@ViewData["WorkCenter"]</td>
                            </tr>
                            <tr>
                                <td>Machine: </td>
                                <td>@Html.DropDownList("machineTxt")</td>                               
                              
                            </tr>
                            <tr>
                                <td>Week: </td>
                                <td>
                                    ...
                               </td>
                            </tr>
                            @*<tr>
                                <td>Prepared by: </td>
                                <td>..........</td>
                            </tr>*@


                        </table>
                    </div>
                </div>

                @*///////////*@

                <div role="tabpanel" class="tab-pane " id="filtering_tool">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #eeeeee; border-radius: 6px; ">
                        @*<h3>Filtering Tool</h3>*@

                        
                            @using (Html.BeginForm("Index", "MachineShop", FormMethod.Get)) // send through GET to show it in URL also.
                            {
                                <table cellpadding="10">
                                            @*Genre : @Html.DropDownList("movieGenre", "Make your choice...")
                                            Choose column : @Html.DropDownList("movieList", "Choose any column...")*@
                                            @*first parameter is string to return, need to be named the same as string in controller
                        The parameter "movieGenre" provides the key for the DropDownList helper to find a
                        IEnumerable<SelectListItem > in the  ViewBag. The ViewBag was  populated in the action  method:
                                            *@

                                            @*Title: @Html.TextBox("SearchString")
                                            <input type="submit" value="Search !" /> <br />*@

                                    
                                    <tr>
                                        <td>Date Single :</td>
                                        <td>
                                            <input class="datefield" data-val="true" data-val-required="Date is required"
                                                   id="SingleDate" name="SingleDate" type="date" value="1/11/1989" />  

                                            @*@Html.EditorFor(model => model.Date)*@

                                        </td>

                                        <td>Date Range :</td>
                                        <td>
                                            <input class="datefield" data-val="true" data-val-required="Date is required"
                                                   id="ReleaseDate" name="ReleaseDate" type="date" value="1/11/1989" />
                                        </td>
                                        <td>
                                            <input class="datefield" data-val="true" data-val-required="Date is required"
                                                   id="ReleaseDate" name="ReleaseDate" type="date" value="1/11/1989" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Department :</td>
                                        <td>@Html.DropDownList("deptChoice")
                                        
                                           @*@Html.DropDownList(
                                                "ddl", ViewData["AvailableList"] as SelectList,
                                                new { onchange = @"
                                                var form = document.forms[0];
                                                form.action='MyMethod';
                                                form.submit();"
                                                } )*@ 
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Work Center :</td>
                                        <td>@Html.DropDownList("wcChoice")</td>
                                    </tr>
                                    <tr>
                                        <td>Machine:</td>
                                        <td>@Html.DropDownList("machineChoice")</td>
                                    </tr>
                                    <tr>
                                        <td>Show All Data :</td>
                                        <td>@Html.CheckBox("checkBoxState")</td>
                                    </tr>

                                </table>
                            
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Operator</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Item No.</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Operator and Item</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Searcher</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>list</td>
                                        </tr>

                                    </table>

                                    <input type="submit" value="Search !" /> <br />

                                </div>

                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <table cellpadding="10">


                                        <tr>
                                            <td>Item No.: </td>
                                            <td>list</td>
                                        </tr>

                                    </table>
                                    SEARCH <\br>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>list</td>
                                            <td>Item No.: </td>
                                            <td>list</td>
                                        </tr>

                                    </table>

                                    SEARCH <\br>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="settings">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Column selection : </td>
                                            <td>@Html.DropDownList("colList", "Make your choice...")</td>
                                            <td>Word or phrase: </td>
                                            <td>@Html.TextBox("SearchString")</td>

                                        </tr>

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>
                            </div>

                        </div>

                            }
                    </div>

                </div>
            </div>        
        </div>
    </div>
                <br />
                <br />

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActualRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StandardRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Percent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setup)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cleaning)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Down)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Other)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NonconfParts)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comments)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            ViewBag.totalSumQty += item.Qty;
                            ViewBag.totalSumHours += item.Hours;
                            ViewBag.totalSumSetup += item.Setup;
                            ViewBag.totalSumCleaning += item.Cleaning;
                            ViewBag.totalSumDown += item.Down;
                            ViewBag.totalSumOther += item.Other;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StandardRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Percent)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Setup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cleaning)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Down)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Other)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NonconfParts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                        <tr class="info" style="color:red">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@ViewBag.totalSumQty</td>
                            <td>@ViewBag.totalSumHours</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@ViewBag.totalSumSetup</td>
                            <td>@ViewBag.totalSumCleaning</td>
                            <td>@ViewBag.totalSumDown</td>
                            <td>@ViewBag.totalSumOther</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </div>

                @*<table class="table">
                    <tr style="color:red">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@ViewBag.totalSumQty</td>
                        <td>@ViewBag.totalSumHours</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@ViewBag.totalSumSetup</td>
                        <td>@ViewBag.totalSumCleaning</td>
                        <td>@ViewBag.totalSumDown</td>
                        <td></td>
                        <td></td>
                        <td>@ViewBag.totalSumOther</td>
                    </tr>
                </table>*@
