@model IEnumerable<MvcMovie.Models.MachineShopTable>

    @{
        ViewBag.Title = "Index";
    }

<h3 id="deptNameTop">@Session["Department"]</h3>
<h4 id="wcNameTop">Work Center: @Session["WorkCenter"]@Session["WorkCenterAll"]</h4>
<h5 id="reportName">WaterSaver Faucet Co. Machine Shop production Report.</h5>
@*<h2>Index</h2>*@

<p> 
    @*This one will send Department and WorkCenter values from machineShop controller Index method to Create action method*@ 
    @*@Html.ActionLink("Create New",
                             "Create", new { Department = @ViewData["Department"], WorkCenter = @ViewData["WorkCenter"], Machine = ViewBag.machineTxt },
                                             htmlAttributes: new { @class = "btn btn-primary" }  
                                             
                                               //"Create", new { Department = @ViewData["Department"] -- sending var Department, which gonna be catched as a string in Create method of MachineShopController
    )*@
    @if(Session["WorkCenter"]!=null)
    { 
    <a href="@Url.Action("Create", "MachineShop", new { Department = @ViewData["Department"], WorkCenter = @ViewData["WorkCenter"] })" class="btn btn-primary" id="createBtnTop"><span class="glyphicon glyphicon-plus-sign"></span> Create New</a>
    }
</p>

<div class="row">
    @*<div class=".col-md-6" style="background-color: #eeeeee; border-radius: 6px; ">*@

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            <a href="#currently_displayed" aria-controls="home" role="tab" data-toggle="tab" id="currDispl">Currently Displayed</a>
            </li>
            <li role="presentation">
                <a href="#filtering_tool" aria-controls="profile" role="tab" data-toggle="tab" id="filtTool">Filtering Tools</a>
            </li>            
        </ul>

        <!-- Tab panes -->
        <br id="printBr">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currently_displayed">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #e2f1f9; border-radius: 6px; ">
                        <table cellpadding="10" id="currDisplTable">
                            @*Here is the magic coming.
                                All the variable used by machineShopQry in controller 
                                are set at the moment of running query, so if You like to get
                                any info regarding currently used data, the best way to do this is just to
                                access them through the model...
                                *@
                           @*@foreach(var item in Model) // This one will display result that many times as there will be records in current query
                           {*@
                            @*<h3>Currently Displayed</h3>*@
                            <tr>

                                <td>Department : </td>

                                <td id="jsDepartmentTxt">@Session["Department"]@Session["DepartmentTxt"]</td>
                                @*<td>@ViewData["Department"]</td>*@
                                @*<td>@Html.DisplayFor(modelA => item.Department)</td>*@
                                <td></td>

                            </tr>
                            <tr>
                                <td>Work Center : </td>
                                <td id="jsWorkCenterTxt">@Session["WorkCenter"]@Session["WorkCenterAll"]</td>

                                @*<td>@ViewData["WorkCenter"]</td>*@
                                @*<td>@Html.DisplayFor(itemA => item.WorkCenter)</td>*@
                            </tr>
                            @if (Session["machineTxt"]!=null)
                            { 
                            <tr>
                                <td>Machine : </td>
                                @*<td>@Html.DropDownList("machineTxt")</td>                               
                                <td> text : @Html.DisplayName("machineTxt")</td>*@
                                <td id="jsMachineTxt">@Session["machineTxt"]</td>
                              
                            </tr>
                            }
                            @if(Session["preciseQ"]!=null)
                            { 
                            <tr>
                                <td>Precise queries : </td>
                                @*<td>@Html.DropDownList("machineTxt")</td>
            <td> text : @Html.DisplayName("machineTxt")</td>*@
                                <td id="preciseQTxt">@Session["preciseQ"]</td>

                            </tr>
                            }
                            <tr>
                                <td >Date: </td>
                                <td id ="jsDate">
                                    @Session["DateStr"]
                                </td>
                            </tr>
                            @*<tr>
                                <td>Prepared by: </td>
                                <td>..........</td>
                            </tr>*@

                           @*}*@
                        </table>
                    </div>
                </div>

                @*///////////*@

                <div role="tabpanel" class="tab-pane " id="filtering_tool">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #eeeeee; border-radius: 6px; ">
                        @*<h3>Filtering Tool</h3>*@

                        
                            @using (Html.BeginForm("Index", "MachineShop", FormMethod.Get)) // send through GET to show it in URL also.
                            {
                                <table cellpadding="10">
                                            @*Genre : @Html.DropDownList("movieGenre", "Make your choice...")
                                            Choose column : @Html.DropDownList("movieList", "Choose any column...")*@
                                            @*first parameter is string to return, need to be named the same as string in controller
                        The parameter "movieGenre" provides the key for the DropDownList helper to find a
                        IEnumerable<SelectListItem > in the  ViewBag. The ViewBag was  populated in the action  method:
                                            *@

                                            @*Title: @Html.TextBox("SearchString")
                                            <input type="submit" value="Search !" /> <br />*@
                                    <tr>
                                        <td><label><input type="checkbox" name="singleDateJs" value="singleDateJs"> Choose single date.</label></td>
                                        <td><label><input type="checkbox" name="dateSpan" value="dateSpan"> Choose date span.</label></td>
                                    </tr>       
                                                                             
                                    <tr>
                                            <td class="single box">Date Single :</td>
                                            <td class="single box">
                                                @*<input class="datefield" data-val="true" data-val-required="Date is required"
            id="SingleDate" name="SingleDate" type="date" value="2/25/2015" />*@
                                                <input class="datefield" data-val="true"
                                                       id="SingleDate" name="SingleDate" type="date" value="1/11/1989" />
                                              

                                            </td>
                                        
                                            <td class="dateSpan box">Date Range :</td>
                                            <td class="dateSpan box">
                                                <label>
                                                    Start date: 
                                                <input class="datefield" data-val="true"
                                                       id="DateStart" name="DateStart" type="date" value="1/11/1989" />
                                                </label>
                                            @*</td>
                                            <td class="dateSpan box">*@
                                                <label>
                                                    End date:
                                                    <input class="datefield" data-val="true"
                                                           id="DateEnd" name="DateEnd" type="date" value="1/11/1989" />
                                                </label>
                                            </td>                                      
                                    </tr>                                   
                                
                                    <tr>
                                        
                                        @*<td>Department :</td>
                                        <td id="jsDeptList" onchange="func1()">
                                            @Html.DropDownList("deptChoice", "None.")*@

                                            @*-----------------------------------*@
                                            @*<div class="form-group">*@
                                                <td>
                                                    @*@Html.Label("Select Country:", new { @class = "col-md-2 control-label" })*@
                                                    @Html.Label("Department :")
                                                </td>
                                                <td>
                                                    @*<div class="col-md-10">*@

                                                        @Html.DropDownList("Departments", ViewBag.deptChoice as SelectList,"None.", new { @class = "form-control" })    
                                                        @* Departments = single string of selected item to return when selected from list*@

                                                    @*</div>*@
                                                </td>
                                            @*</div>*@               
                                            @*-----------------------------------*@

                                            @*<%= Html.DropDownList("country", ViewData["countries"] as SelectList)%>*@

                                    </tr>
                                    <tr>
                                        @*<div class="form-group">*@
                                            <td>
                                                @Html.Label("Work Center :")
                                            </td>
                                            @*<div class="col-md-10">*@
                                                <td>
                                                    <select id="jsWorkCenter" class="form-control">
                                                        
                                                    </select>
                                                </td>
                                            @*</div>
                                        </div>*@
                                        @*<td>Work Center :</td>
                                        <td id="jsWcList">@Html.DropDownList("wcChoice","None.")</td>*@
                                    </tr>
                                    <tr>
                                        @*<div class="form-group">*@
                                            <td>
                                                @Html.Label("Machine :")
                                            </td>
                                            @*<div class="col-md-10">*@
                                                <td>
                                                    <select id="Machine" class="form-control">
                                                        <option value="None" selected>None.</option>
                                                    </select>
                                                </td>
                                            @*</div>
                                        </div>*@
                                        @*<td>Machine:</td>
                                        <td>@Html.DropDownList("machineChoice","None.")</td>*@
                                    </tr>
                                    

                                </table>
                            
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Operator</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Item No.</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Operator and Item</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Searcher</a></li>
                                <li role="presentation"><a href="#alldata" aria-controls="alldata" role="tab" data-toggle="tab">All Data</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>
                                            
                                                @Html.DropDownList("operatorChoice", null,"None.", new { @class = "form-control" })
                                            
                                            </td>
                                        </tr>

                                    </table>

                                    <input type="submit" value="Search !" /> <br />

                                </div>

                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <table cellpadding="10">


                                        <tr>
                                            <td>Item No.: </td>
                                            <td>@Html.DropDownList("partChoice",null, "None.", new { @class = "form-control" })</td>
                                        </tr>

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>

                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>@Html.DropDownList("operatorChoice2", null, "None.", new { @class = "form-control" })</td>
                                            <td>Item No.: </td>
                                            <td>@Html.DropDownList("partChoice2", null, "None.", new { @class = "form-control" })</td>
                                        </tr>

                                    </table>

                                    <input type="submit" value="Search !" /> <br />
                                </div>                             

                                <div role="tabpanel" class="tab-pane" id="settings">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Column selection : </td>
                                            <td>@Html.DropDownList("colList", null, "None.", new { @class = "form-control" })</td>
                                            <td>Word or phrase: </td>
                                            <td>@Html.TextBox("SearchString", null, new { @class = "form-control" })</td>

                                        </tr>

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>

                                <div role="tabpanel" class="tab-pane" id="alldata">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Show All Data :</td>
                                            <td>@Html.CheckBox("checkBoxState")</td>

                                        <td>
                                            <font color="red">
                                                CAUTION. This function will load all the data from database.   <br/>
                                                Depend on the current size of database it can take some time.
                                            </font>
                                        </td>
                                        </tr>

                                        

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>
                            </div>

                        </div>

                            }
                    </div>

                </div>
            </div>        
        </div>
    </div>
<hr />      
                

        @*@for(int i = 0; i < 3;i++)*@ 
        @*{*@
            @if(ViewBag.manyWC != null)
                {
                    string[] wcTable = ViewBag.manyWC;
                    int sizeWC = wcTable.Count();

                    for (int a = 0; a < sizeWC; a++)
                    {

                        @*<p style="text-align:center"><h4 id="wcNameTable">Work Center : @wcTable[a].ToString()</h4></p>
                            <br />*@
                
                        ViewBag.totalSumQty = 0;
                        ViewBag.totalSumHours = 0;
                        ViewBag.totalSumSetup = 0;
                        ViewBag.totalSumCleaning = 0;
                        ViewBag.totalSumDown = 0;
                        ViewBag.totalSumOther = 0;
                        ViewBag.totalSumNonC = 0;                

    <div class="mainTable">
        <p style="text-align:center"><h4 id="wcNameTable">Work Center : @wcTable[a].ToString()</h4></p>
        <br />
        <div class="table-responsive">
            @*<table class="table table-striped table-bordered table-hover table-condensed" id="testTable">*@
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.ItemNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Operation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkOrderNo)
                    </th>                    
                    <th>
                        @Html.DisplayNameFor(model => model.Operator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hours)
                    </th>
                    <th id="arHover" title="AR - Actual Rate">
                        <span title="">
                            @Html.DisplayNameFor(model => model.ActualRate)
                        </span>
                    </th>
                    <th id="srHover" title="SR - Standard Rate">
                        <span title="">
                            @Html.DisplayNameFor(model => model.StandardRate)
                        </span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Percent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Setup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cleaning)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Down)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Other)
                    </th>
                    <th id="npHover" title="NP - Nonconfirmed Parts">
                        <span title="">
                            @Html.DisplayNameFor(model => model.NonconfParts)
                            </span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    @*<th id="jsCRUD"></th>*@
                </tr>
                                                             

                @foreach (var item in Model.Where(i => i.WorkCenter == wcTable[a].ToString()))
            {
                //if (ViewBag.manyWC != null)
                //{
                //    string[] wcTable = ViewBag.manyWC;
                //    int sizeWC = wcTable.Count();

                //    for (int a = 0; a < sizeWC; a++)
                //    {

                //        if (item.WorkCenter == wcTable[a].ToString())
                //        {

                ViewBag.totalSumQty += item.Qty;
                ViewBag.totalSumHours += item.Hours;
                ViewBag.totalSumSetup += item.Setup;
                ViewBag.totalSumCleaning += item.Cleaning;
                ViewBag.totalSumDown += item.Down;
                ViewBag.totalSumOther += item.Other;
                ViewBag.totalSumNonC += item.NonconfParts;

            @*<p style="text-align:center"><h4>@wcTable[a].ToString()</h4></p>
                <br />*@

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td id="itemNoWrap">
                    @Html.DisplayFor(modelItem => item.ItemNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Setup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cleaning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Down)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Other)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NonconfParts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                @if(Session["WorkCenter"]!=null)
                {
                <td id="editsTable">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
                }
            </tr>
                //}
                //}
                //}
            }

                <tr class="info" style="color:red" id="sumQuantities">
                    @*<td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="totalSumQty">@ViewBag.totalSumQty</td>
            <td id="totalSumHours">@ViewBag.totalSumHours</td>
            <td></td>
            <td></td>
            <td></td>
            <td id="totalSumSetup">@ViewBag.totalSumSetup</td>
            <td id="totalSumCleaning">@ViewBag.totalSumCleaning</td>
            <td id="totalSumDown">@ViewBag.totalSumDown</td>
            <td id="totalSumOther">@ViewBag.totalSumOther</td>*@

                    <td id="td1"></td>
                    <td id="td2"></td>
                    <td id="td3"></td>
                    <td id="td4"></td>
                    
                        <td id="totalSumQty">@(((decimal)@ViewBag.totalSumQty).ToString("F0"))</td>
                        <td id="totalSumHours">@(((decimal)@ViewBag.totalSumHours).ToString("F2"))</td>
                        <td id="td5"></td>
                        <td id="td6"></td>
                        <td id="td7"></td>
                        <td id="totalSumSetup">@(((decimal)@ViewBag.totalSumSetup).ToString("F2"))</td>
                        <td id="totalSumCleaning">@(((decimal)ViewBag.totalSumCleaning).ToString("F2"))</td>
                        <td id="totalSumDown">@(((decimal)@ViewBag.totalSumDown).ToString("F2"))</td>
                        <td id="totalSumOther">@(((decimal)@ViewBag.totalSumOther).ToString("F2"))</td>
                        <td id="totalSumNonC">@(((decimal)@ViewBag.totalSumNonC).ToString("F0"))</td>
                    <td id="td8"></td>


                    @*<td></td>
            <td></td>*@
                </tr>

            </table>

                

        </div>
        @*}*@
        <br />
    </div>
                    }
                }

    @*@{
            if (Session["hideCRUD"] == null)
            {
                <script type="text/javascript">
                    jsCrudOff();
                    alert("Off");
                </script>
            }
            else
            {
                <script type="text/javascript">
                    jsCrudOn();
                    alert("ON");
                </script>
            }

        }*@

    @*<button id="testPrint">Print Report</button>*@
    @*<hr />*@
    <table>
        <tr>
            <td>
                @*<input type="button" value="Print this page" onclick="window.print()" id="mainPrint" class="btn btn-primary">*@
                <button id="mainPrint" class="btn btn-primary" onclick="window.print()"><span class="glyphicon glyphicon-print"></span>   Print Report</button>
                @*This is the one controlled by JS*@
                @*<button id="testPrint4" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>   Print Report</button>*@
            </td>
            @*<button class="print">EXPORT JS 2 </button>*@

            @*@Html.ActionLink("print pdf","PrintInvoice")
                @Html.ActionLink("print pdf", "PrintInvoice")*@

            @*<button id="testPrint">Print Report</button>*@

            @if(Session["WorkCenter"]!=null)
                {
            <td>
                @using (Html.BeginForm("ExportData", "MachineShop", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*<table>
                        <tr><td></td><td>*@

                    <input type="submit" name="Export" id="Export" value="Export to Excel" class="btn btn-primary " />
                    @*</td></tr>
                                        <span class="glyphicon glyphicon-print"></span>
                        </table>*@
                }
            </td>
                }
        </tr>
    </table>

@*<div ng-app="">

    <p>Input something in the input box:</p>
    <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
    <h1>Hello {{name}}</h1>

</div>*@


    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../jQuery.print.js"></script>*@

    @*<script>
                $("#printable").find('.print').on('click', function() {

                    $("#printable").print({

                        // Use Global styles
                        globalStyles : false,

                        // Add link with attrbute media=print
                        mediaPrint : false,

                        //Custom stylesheet
                        stylesheet : "http://fonts.googleapis.com/css?family=Inconsolata",

                        //Print in a hidden iframe
                        iframe : false,

                        // Don't print this
                        noPrintSelector : ".avoid-this",

                        // Add this on top
                        append : "Free jQuery Plugins<br/>",

                        // Add this at bottom
                        prepend : "<br/>jQueryScript.net",

                        // Manually add form values
                        manuallyCopyFormValues: true,

                        // resolves after print and restructure the code for better maintainability
                        deferred: $.Deferred()

                    });
                });
        </script>*@
    @*//// EXCEL EXPORT FUNCTION*@
    <script>

        function jsCrudOff() {
            $('td:nth-child(16)').hide();
        }
        function jsCrudOn() {
            $('td:nth-child(16)').show();
        }

        //    $("#testPrint").click(function () {
        //        //$("#editsTable").hide();
        //        $("#editsTable").prop("disabled", true);

        //        var divToPrint = document.getElementById('testTable');

        //        var jsDepartment = document.getElementById('jsDepartment');
        //        var jsWorkCenter = document.getElementById('jsWorkCenter');
        //        var jsMachine = document.getElementById('jsMachine');

        //    newWin = window.open("");
        //    var topDoc = "<html><head><title>WaterSaver Faucet Co. Machine Shop Database.</title></head>";
        //    var endDoc = "</body></html>";
        //    //var tableConfig = "";
        //    newWin.document.write(topDoc, "<body>");
        //    newWin.document.write("<h1>Machine Shop report.</h1>");
        //    newWin.document.write("<h3>Raport details.</h3>");
        //    newWin.document.write("<h4>Department : " + jsDepartment.outerHTML + "</h4>");
        //    newWin.document.write("<h4>Work Center : " + jsWorkCenter.outerHTML + "</h4>");
        //    newWin.document.write("<h4>Machine : " + jsMachine.outerHTML+"</h4>");
        //    //self.focus();
        //    //newWin.document.open("");
        //    //newWin.document.write('');
        //        //newWin.document.write("<table class=\"table table-striped table-bordered table-hover table-condensed\">");

        //        //newWin.document.write("<table border=\"1\"");
        //    newWin.document.write("<table style=\" background-color: #fff ; border: 1px solid #ddd \"");

        //    newWin.document.write(divToPrint.outerHTML);
        //    //newWin.document.write();
        //    //$('#testTable')[0].outerHtml;
        //    //$('testTable')[0].outerHtml;

        //    //getElementChildrenAndStyles("#testTable");
        //    newWin.document.write("</table>");
        //    //newWin.document.write('');
        //    newWin.document.write(endDoc);
        //    newWin.document.close('');
        //    newWin.print();
        //    newWin.close();
        //    $("#editsTable").prop("disabled", false);
        //});
        // PERFECTLY WOKRING EXAMPLE
        //$("#testPrint4").click(function () {
        //    var divToPrint = document.getElementById('testTable');
        //    var htmlToPrint = '' +
        //        '<style type="text/css">' +
        //        'table th, table td {' +
        //        'border:1px solid #000;' +
        //        'padding;0.5em;' +
        //        '}' +
        //        '</style>';
        //    htmlToPrint += divToPrint.outerHTML;
        //    newWin = window.open("");
        //    newWin.document.write(htmlToPrint);
        //    newWin.print();
        //    newWin.close();

        //});

        $("#testPrint4").click(function () {

            //HIDE CRUD COLUMN
            $('td:nth-child(16)').hide();


            var jsDepartment = document.getElementById('jsDepartmentTxt');
            var jsWorkCenter = document.getElementById('jsWorkCenterTxt');
            var jsMachine = document.getElementById('jsMachineTxt');
            var jspreciseQ = document.getElementById('preciseQTxt');
            var jsDate = document.getElementById('jsDate');

            var topDoc = "<html><head><title>WaterSaver Faucet Co. Machine Shop production Report.</title></head>";
            var endDoc = "</body></html>";

            //$_$ var divToPrint = document.getElementById('testTable');
            //var divToPrint = document.getElementsByClassName('mainTable');
            var divToPrint = document.getElementsByClassName('mainTable');
            var output = "Test";

            for (var i = 0; i < divToPrint.length; i++) {
                output += (divToPrint[i].value + "_" + i);
                alert("Result: " + output);
            }

            

            var cssObject = '' +
        '<style type="text/css">' +
        'body {' +
        'font-family: Helvetica;' +
        'font-size: 10px;' +
        '}' +
        'table th {' +
        'background-color: light-blue;' +
        '}' +
        'table th, table td {' +
        'padding: 5px 5px 5px;' +
        'font-family: Helvetica;' +
        'font-size: 10px;' +
        'text-align: center;' +
        'border-top: 1px solid #e0e0e0;' +
        'border-right: 1px solid #e0e0e0;' +
        'border-left: 1px solid #e0e0e0;' +
        'border-bottom: 1px solid #e0e0e0;' +
        '}' +

        '</style>';

            //$_$ htmlToPrint += divToPrint.outerHTML;        
            newWin = window.open("");

            newWin.document.write(topDoc, "<body>");
            newWin.document.write(cssObject);
            newWin.document.write("<h4>Machine Shop report.</h4>");
            newWin.document.write("<h5>Department : " + jsDepartment.outerHTML + "</h5>");
            newWin.document.write("<h5>Work Center : " + jsWorkCenter.outerHTML + "</h5>");
            newWin.document.write("<h5>Machine : " + jsMachine.outerHTML + "</h5>");
            newWin.document.write("<h5>Precise queries : " + jspreciseQ.outerHTML + "</h5>");
            newWin.document.write("<h5>Date : " + jsDate.outerHTML + "</h5>");


            //newWin.document.write(divToPrint.outerHTML);
            newWin.document.write(output);

            newWin.document.write(endDoc);

            newWin.print();
            newWin.close();

            // UNHIDE CRUD COLUMN
            $('td:nth-child(16)').show();

        });

        //function getElementChildrenAndStyles(selector) {
        //    var html = $(selector).outerHTML();

        //    selector = selector.split(",").map(function (subselector) {
        //        return subselector + "," + subselector + " *";
        //    }).join(",");
        //    elts = $(selector);

        //    var rulesUsed = [];
        //    // main part: walking through all declared style rules
        //    // and checking, whether it is applied to some element
        //    sheets = document.styleSheets;
        //    for (var c = 0; c < sheets.length; c++) {
        //        var rules = sheets[c].rules || sheets[c].cssRules;
        //        for (var r = 0; r < rules.length; r++) {
        //            var selectorText = rules[r].selectorText;
        //            var matchedElts = $(selectorText);
        //            for (var i = 0; i < elts.length; i++) {
        //                if (matchedElts.index(elts[i]) != -1) {
        //                    rulesUsed.push(rules[r]); break;
        //                }
        //            }
        //        }
        //    }
        //    var style = rulesUsed.map(function (cssRule) {
        //        if ($.browser.msie) {
        //            var cssText = cssRule.style.cssText.toLowerCase();
        //        } else {
        //            var cssText = cssRule.cssText;
        //        }
        //        // some beautifying of css
        //        return cssText.replace(/(\{|;)\s+/g, "\$1\n  ").replace(/\A\s+}/, "}");
        //        //                 set indent for css here ^
        //    }).join("\n");
        //    return "<style>\n" + style + "\n</style>\n\n" + html;
        //}
    </script>



    @*<script>
            $("#testPrint").click(function () {
                var str = "";
                $('tr').each(function () {

                    $(this).find('td').each(function () {

                        str = str + $(this).html() + "\t";
                    });

                    str = str + "\n";

                });

                alert(str);

                window.open('data:application/vnd.ms-excel,' + encodeURIComponent(str));
            });
        </script>*@
    @*//// EXCEL EXPORT FUNCTION*@

    @*hide unhide*@

    <style type="text/css">
        .box {
            /*padding: 20px;*/
            display: none;
            /*margin-top: 20px;
        border: 1px solid #000;*/
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                if ($(this).attr("value") == "singleDateJs") {
                    $(".single").toggle();
                }
                if ($(this).attr("value") == "dateSpan") {
                    $(".dateSpan").toggle();
                }
            });
        });
    </script>

    @*<script>

            $(document).ready(function(){
                $("#deptChoice").change(function () {
                    var x = $("#deptChoice option:selected").text();
                    alert("Value:" + x); });

                //var y = "Department 1010";
                //if (x==y) {
                $("#wcChoice").append("<option value='01-01'>01-01</option>    <option value='01-02'>01-02</option>");
                    //jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> <option value='mercedes'>Mercedes</option> <option value='audi'>Audi</option> </select>";
                //};

            });

            function func1(){
                //this.alert("CHANGED");

                //var x = document.getElementById("jsDeptList").childNodes[0].nodeValue;//.nodeValue;
                //this.alert(x);           //test if value have been GET
                //if ( x == "Department 1010") {
                //    jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> <option value='mercedes'>Mercedes</option> <option value='audi'>Audi</option> </select>";
                }

                //switch(jsDeptList.valueOf)
                //{
                //    case "Department 1010" :
                //        jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> </select>";
                //        break;

                //    case "Department 1020":
                //        jsWcList.innerHTML = "<select> <option value='03-01'>01-01</option>    <option value='03-02'>01-02</option></select>";
                //        break;
                //}

        </script>*@

    <script>
        $(document).ready(function () {
            $("#Departments").val("<option selected>None.</option>");
            $("#operatorChoice").val(null);
            $("#partChoice").val(null);
            $("#operatorChoice2").val(null);
            $("#partChoice2").val(null);
            $("#colList").val(null);
            $("#SearchString").val(null);

            //$('select option[value="1"]').attr("selected", true);//

            $("#jsWorkCenter").prop("disabled", true);
            $("#Departments").change(function () {
                if ($("#Departments").val() != "") {
                    var DepartmentOptions = {};
                    //DepartmentOptions.url = "/MachineShop/WorkCenterList"; //hard coded URL will cause issue on live IIS server - USE URL HELPER
                    DepartmentOptions.url = '@Url.Action("WorkCenterList", "MachineShop")';//  URL FOR AJAX ACTION, AJAX WILL PICKUP SINGLE ACTION METHOD FROM CONTROLLER :)
                    DepartmentOptions.type = "POST";
                    DepartmentOptions.data = JSON.stringify({ Departments: $("#Departments").val() }); // this line is translating value of class element to string which is gonna be send as a result of
                    DepartmentOptions.datatype = "json";
                    DepartmentOptions.contentType = "application/json";
                    DepartmentOptions.success = function (wcLst) {
                        $("#jsWorkCenter").empty();
                        for (var i = 0; i < wcLst.length; i++) {
                            $("#jsWorkCenter").append("<option>" + wcLst[i] + "</option>");
                            $("#jsWorkCenterTxt").append("<option>" + wcLst[i] + "</option>");

                        }
                        $("#jsWorkCenter").append("<option selected>None.</option>");  //default option
                        $("#jsWorkCenter").prop("disabled", false);
                        $('select option[value="1"]').attr("selected", true);//
                    };
                    DepartmentOptions.error = function () { alert("Error in Getting Departments!!"); };
                    $.ajax(DepartmentOptions);
                }
                else {
                    $("#jsWorkCenter").empty();
                    $("#jsWorkCenter").prop("disabled", true);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#Machine").prop("disabled", true);
            $("#jsWorkCenter").change(function () {
                if ($("#jsWorkCenter").val() != "") {
                    var WorkCenterOptions = {};
                    //WorkCenterOptions.url = "/MachineShop/MachineList";    //  URL FOR AJAX ACTION, AJAX WILL PICKUP SINGLE ACTION METHOD FROM CONTROLLER :)
                    WorkCenterOptions.url = '@Url.Action("MachineList", "MachineShop")';
                    WorkCenterOptions.type = "POST";
                    WorkCenterOptions.data = JSON.stringify({ jsWorkCenter: $("#jsWorkCenter").val() });
                    WorkCenterOptions.datatype = "json";
                    WorkCenterOptions.contentType = "application/json";
                    WorkCenterOptions.success = function (machineLst) {
                        $("#Machine").empty();
                        for (var i = 0; i < machineLst.length; i++) {
                            $("#Machine").append("<option>" + machineLst[i] + "</option>");
                        }
                        $("#Machine").prop("disabled", false);
                        $('select option[value="1"]').attr("selected", true);//
                    };
                    WorkCenterOptions.error = function () { alert("Error in Getting Machine!!"); };
                    $.ajax(WorkCenterOptions);
                }
                else {
                    $("#Machine").empty();
                    $("#Machine").prop("disabled", true);
                }
            });
        });

    </script>



    @*hide unhide - END *@




    @*<div id="remember" > <label for="remember" > CHECK ME</label > <input id="remember" name="remember" type="checkbox" onclick="validate()" / > </div > <script type="text/javascript" > function validate() {
            if (document.getElementById('remember').checked);

        {
            alert("checked");
        }

        }

        </script >*@ @*<table class="table" > <tr style="color:red" > <td > </td > <td > </td > <td > </td > <td > </td > <td > @ViewBag.totalSumQty</td > <td > @ViewBag.totalSumHours</td > <td > </td > <td > </td > <td > </td > <td > @ViewBag.totalSumSetup</td > <td > @ViewBag.totalSumCleaning</td > <td > @ViewBag.totalSumDown</td > <td > </td > <td > </td > <td > @ViewBag.totalSumOther</td > </tr > </table > *@ @*<script > $(document).ready(function () {
                $("p").click(function () {
                    $(this).hide();
                });
            }); </script > <p > CLICK TO DISSAPPEAR - jQuery</p > <button onclick="this.innerHTML=Date()" > WHAT IME IT IS ? - JS</button > <script > function loadXMLDoc() {
                var xmlhttp;
                if (window.XMLHttpRequest);

            {
                // code for IE7+, Firefox, Chrome, Opera, Safari xmlhttp = new XMLHttpRequest();
            }

            else {
                // code for IE6, IE5 xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200);

            {
                document .getElementById("myDiv").innerHTML = xmlhttp.responseText;
            }

            }
            xmlhttp.open("GET", "ajax_info.txt", true); xmlhttp.send();
            }
            </script > <div id="myDiv" > <h2 > Let AJAX change this text</h2 > </div > <button type="button" onclick="loadXMLDoc()" > Change Content</button > *@






