@model IEnumerable<MvcMovie.Models.MachineShopTable>

@{
    ViewBag.Title = "Index";
}

<h3>@Session["Department"]</h3>
<h4>Work Center: @Session["WorkCenter"]</h4>

@*<h2>Index</h2>*@

<p> 
    @*This one will send Department and WorkCenter values from machineShop controller Index method to Create action method*@ 
    @Html.ActionLink("Create New",
                             "Create", new { Department = @ViewData["Department"], WorkCenter = @ViewData["WorkCenter"], Machine = ViewBag.machineTxt },
                                             htmlAttributes: new { @class = "btn btn-primary" }  
                                             
                                               //"Create", new { Department = @ViewData["Department"] -- sending var Department, which gonna be catched as a string in Create method of MachineShopController
    )

    <a href="@Url.Action("Create", "MachineShop", new { Department = @ViewData["Department"], WorkCenter = @ViewData["WorkCenter"] })" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create New</a>
</p>

<div class="row">
    @*<div class=".col-md-6" style="background-color: #eeeeee; border-radius: 6px; ">*@

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            <a href="#currently_displayed" aria-controls="home" role="tab" data-toggle="tab">Currently Displayed</a>
            </li>
            <li role="presentation">
                <a href="#filtering_tool" aria-controls="profile" role="tab" data-toggle="tab">Filtering Tools</a>
            </li>            
        </ul>

        <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currently_displayed">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #e2f1f9; border-radius: 6px; ">
                        <table cellpadding="10">
                            @*Here is the magic coming.
                                All the variable used by machineShopQry in controller 
                                are set at the moment of running query, so if You like to get
                                any info regarding currently used data, the best way to do this is just to
                                access them through the model...
                                *@
                           @*@foreach(var item in Model) // This one will display result that many times as there will be records in current query
                           {*@
                            @*<h3>Currently Displayed</h3>*@
                            <tr>

                                <td>Department: </td>

                                <td>@Session["Department"]</td>
                                @*<td>@ViewData["Department"]</td>*@
                                @*<td>@Html.DisplayFor(modelA => item.Department)</td>*@
                                <td></td>

                            </tr>
                            <tr>
                                <td>Work Center: </td>
                                <td>@Session["WorkCenter"]</td>
                                @*<td>@ViewData["WorkCenter"]</td>*@
                                @*<td>@Html.DisplayFor(itemA => item.WorkCenter)</td>*@
                            </tr>
                            <tr>
                                <td>Machine: </td>
                                @*<td>@Html.DropDownList("machineTxt")</td>                               
                                <td> text : @Html.DisplayName("machineTxt")</td>*@
                                <td>@Session["machineTxt"]</td>
                              
                            </tr>
                            <tr>
                                <td>Date: </td>
                                <td>  
                                    @System.DateTime.Now.ToShortDateString()
                                    @*@Html.DisplayFor(testModel.todayTest);*@
                                   @*@foreach (var item in Model)
                                   {
                                        @Html.DisplayFor(itemA => item.Date)
                                   }*@
                               </td>
                            </tr>
                            @*<tr>
                                <td>Prepared by: </td>
                                <td>..........</td>
                            </tr>*@

                           @*}*@
                        </table>
                    </div>
                </div>

                @*///////////*@

                <div role="tabpanel" class="tab-pane " id="filtering_tool">

                    <div class=".col-xs-12 .col-md-8" style="background-color: #eeeeee; border-radius: 6px; ">
                        @*<h3>Filtering Tool</h3>*@

                        
                            @using (Html.BeginForm("Index", "MachineShop", FormMethod.Get)) // send through GET to show it in URL also.
                            {
                                <table cellpadding="10">
                                            @*Genre : @Html.DropDownList("movieGenre", "Make your choice...")
                                            Choose column : @Html.DropDownList("movieList", "Choose any column...")*@
                                            @*first parameter is string to return, need to be named the same as string in controller
                        The parameter "movieGenre" provides the key for the DropDownList helper to find a
                        IEnumerable<SelectListItem > in the  ViewBag. The ViewBag was  populated in the action  method:
                                            *@

                                            @*Title: @Html.TextBox("SearchString")
                                            <input type="submit" value="Search !" /> <br />*@
                                    <tr>
                                        <td><label><input type="checkbox" name="singleDate" value="singleDate"> Choose single date.</label></td>
                                        <td><label><input type="checkbox" name="dateSpan" value="dateSpan"> Choose date span.</label></td>
                                    </tr>       
                                                                             
                                    <tr>
                                            <td class="single box">Date Single :</td>
                                            <td class="single box">
                                                @*<input class="datefield" data-val="true" data-val-required="Date is required"
            id="SingleDate" name="SingleDate" type="date" value="2/25/2015" />*@
                                                <input class="datefield" data-val="true"
                                                       id="SingleDate" name="SingleDate" type="date" value="2/25/2015" />
                                                @*TEST*@
                                                @*@Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)*@
                                                @*TEST*@
                                                @*@Html.EditorFor(model => model.Date)*@

                                            </td>
                                        
                                            <td class="dateSpan box">Date Range :</td>
                                            <td class="dateSpan box">
                                                <label>
                                                    Start date: 
                                                <input class="datefield" data-val="true"
                                                       id="DateStart" name="DateStart" type="date" value="1/11/1989" />
                                                </label>
                                            @*</td>
                                            <td class="dateSpan box">*@
                                                <label>
                                                    End date:
                                                    <input class="datefield" data-val="true"
                                                           id="DateEnd" name="DateEnd" type="date" value="1/11/1989" />
                                                </label>
                                            </td>                                      
                                    </tr>                                   
                                
                                    <tr>
                                        <td>Department :</td>
                                        <td id="jsDeptList" onchange="func1()">
                                            @Html.DropDownList("deptChoice", "None.")

                                            @*-----------------------------------*@
                                            <div class="form-group">
                                                @Html.Label("Select Country:", new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("Departments", ViewBag.deptChoice as SelectList, new { @class = "form-control" })    @* Departments = single string of selected item to return when selected from list*@
                                                </div>
                                            </div><br />

                                            <div class="form-group">
                                                @Html.Label("Select Work Center:", new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    <select id="WorkCenter"></select>
                                                </div>
                                            </div>
                                            @*-----------------------------------*@

                                            @*<%= Html.DropDownList("country", ViewData["countries"] as SelectList)%>*@

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Work Center :</td>
                                        <td id="jsWcList">@Html.DropDownList("wcChoice","None.")</td>
                                    </tr>
                                    <tr>
                                        <td>Machine:</td>
                                        <td>@Html.DropDownList("machineChoice","None.")</td>
                                    </tr>
                                    

                                </table>
                            
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Operator</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Item No.</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Operator and Item</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Searcher</a></li>
                                <li role="presentation"><a href="#alldata" aria-controls="alldata" role="tab" data-toggle="tab">All Data</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>@Html.DropDownList("operatorChoice","None.")</td>
                                        </tr>

                                    </table>

                                    <input type="submit" value="Search !" /> <br />

                                </div>

                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <table cellpadding="10">


                                        <tr>
                                            <td>Item No.: </td>
                                            <td>@Html.DropDownList("partChoice","None.")</td>
                                        </tr>

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>

                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>Operator: </td>
                                            <td>@Html.DropDownList("operatorChoice2","None.")</td>
                                            <td>Item No.: </td>
                                            <td>@Html.DropDownList("partChoice2", "None.")</td>
                                        </tr>

                                    </table>

                                    <input type="submit" value="Search !" /> <br />
                                </div>                             

                                <div role="tabpanel" class="tab-pane" id="settings">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Column selection : </td>
                                            <td>@Html.DropDownList("colList", "Make your choice...")</td>
                                            <td>Word or phrase: </td>
                                            <td>@Html.TextBox("SearchString")</td>

                                        </tr>

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>

                                <div role="tabpanel" class="tab-pane" id="alldata">

                                    <table cellpadding="10">
                                        <tr>
                                            <td>Show All Data :</td>
                                            <td>@Html.CheckBox("checkBoxState")</td>

                                        <td>
                                            <font color="red">
                                                CAUTION. This function will load all the data from database.   <br/>
                                                Depend on the current size of database it can take some time.
                                            </font>
                                        </td>
                                        </tr>

                                        

                                    </table>
                                    <input type="submit" value="Search !" /> <br />
                                </div>
                            </div>

                        </div>

                            }
                    </div>

                </div>
            </div>        
        </div>
    </div>
                <br />
                <br />

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActualRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StandardRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Percent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setup)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cleaning)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Down)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Other)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NonconfParts)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comments)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            ViewBag.totalSumQty += item.Qty;
                            ViewBag.totalSumHours += item.Hours;
                            ViewBag.totalSumSetup += item.Setup;
                            ViewBag.totalSumCleaning += item.Cleaning;
                            ViewBag.totalSumDown += item.Down;
                            ViewBag.totalSumOther += item.Other;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StandardRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Percent)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Setup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cleaning)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Down)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Other)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NonconfParts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                        <tr class="info" style="color:red">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@ViewBag.totalSumQty</td>
                            <td>@ViewBag.totalSumHours</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@ViewBag.totalSumSetup</td>
                            <td>@ViewBag.totalSumCleaning</td>
                            <td>@ViewBag.totalSumDown</td>
                            <td>@ViewBag.totalSumOther</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </div>

@using (Html.BeginForm("ExportData", "MachineShop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td></td><td><input type="submit" name="Export" id="Export" value="Export" /></td></tr>

    </table>
}

@*hide unhide*@

<style type="text/css">
    .box {
        /*padding: 20px;*/
        display: none;
        /*margin-top: 20px;
        border: 1px solid #000;*/
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            if ($(this).attr("value") == "singleDate") {
                $(".single").toggle();
            }
            if ($(this).attr("value") == "dateSpan") {
                $(".dateSpan").toggle();                
            }
        });
    });
</script>

<script>

    $(document).ready(function(){
        $("#deptChoice").change(function () {
            var x = $("#deptChoice option:selected").text();
            alert("Value:" + x); });
        
        //var y = "Department 1010";
        //if (x==y) {
        $("#wcChoice").append("<option value='01-01'>01-01</option>    <option value='01-02'>01-02</option>");
            //jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> <option value='mercedes'>Mercedes</option> <option value='audi'>Audi</option> </select>";
        //};
            
    });   

    function func1(){
        //this.alert("CHANGED");        
        
        //var x = document.getElementById("jsDeptList").childNodes[0].nodeValue;//.nodeValue;
        //this.alert(x);           //test if value have been GET
        //if ( x == "Department 1010") {
        //    jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> <option value='mercedes'>Mercedes</option> <option value='audi'>Audi</option> </select>";
        }
     
        //switch(jsDeptList.valueOf)
        //{
        //    case "Department 1010" :
        //        jsWcList.innerHTML = "<select> <option value='01-01'>01-01</option>    <option value='01-02'>01-02</option> </select>";
        //        break;

        //    case "Department 1020":
        //        jsWcList.innerHTML = "<select> <option value='03-01'>01-01</option>    <option value='03-02'>01-02</option></select>";
        //        break;
        //}

</script>

<script>
    $(document).ready(function () {
        $("#WorkCenter").prop("disabled", true);
        $("#Departments").change(function () {
            if ($("#Departments").val() != "") {
                var DepartmentOptions = {};
                DepartmentOptions.url = "/MachineShop/WorkCenterList";
                DepartmentOptions.type = "POST";
                DepartmentOptions.data = JSON.stringify({ Departments: $("#Departments").val() });
                DepartmentOptions.datatype = "json";
                DepartmentOptions.contentType = "application/json";
                DepartmentOptions.success = function (wcLst) {
                    $("#WorkCenter").empty();
                    for (var i = 0; i < wcLst.length; i++) {
                        $("#WorkCenter").append("<option>" + wcLst[i] + "</option>");
                    }
                    $("#WorkCenter").prop("disabled", false);
                };
                DepartmentOptions.error = function () { alert("Error in Getting Departments!!"); };
                $.ajax(DepartmentOptions);
                }
            else {
                $("#WorkCenter").empty();
                $("#WorkCenter").prop("disabled", true);
            }
        });
    });
</script>


@*hide unhide - END *@




    @*<div id="remember" > <label for="remember" > CHECK ME</label > <input id="remember" name="remember" type="checkbox" onclick="validate()" / > </div > <script type="text/javascript" > function validate() {
        if (document.getElementById('remember').checked);

    {
        alert("checked");
    }

    }

    </script >*@ @*<table class="table" > <tr style="color:red" > <td > </td > <td > </td > <td > </td > <td > </td > <td > @ViewBag.totalSumQty</td > <td > @ViewBag.totalSumHours</td > <td > </td > <td > </td > <td > </td > <td > @ViewBag.totalSumSetup</td > <td > @ViewBag.totalSumCleaning</td > <td > @ViewBag.totalSumDown</td > <td > </td > <td > </td > <td > @ViewBag.totalSumOther</td > </tr > </table > *@ @*<script > $(document).ready(function () {
        $("p").click(function () {
            $(this).hide();
        });
    }); </script > <p > CLICK TO DISSAPPEAR - jQuery</p > <button onclick="this.innerHTML=Date()" > WHAT IME IT IS ? - JS</button > <script > function loadXMLDoc() {
        var xmlhttp;
        if (window.XMLHttpRequest);

    {
        // code for IE7+, Firefox, Chrome, Opera, Safari xmlhttp = new XMLHttpRequest();
    }

    else {
        // code for IE6, IE5 xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200);

    {
        document .getElementById("myDiv").innerHTML = xmlhttp.responseText;
    }

    }
    xmlhttp.open("GET", "ajax_info.txt", true); xmlhttp.send();
    }
    </script > <div id="myDiv" > <h2 > Let AJAX change this text</h2 > </div > <button type="button" onclick="loadXMLDoc()" > Change Content</button > *@
